@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
.logo {
    font-family: 'Galada', cursive;
}
.nav-level {
    padding: 10px 0 10px 0;
    background-color: azure;
}
.nav-level li {
    padding: 10px 0 10px 25px;
}