<div class="md:px-10 py-4 bg-gray-200/30 backdrop-saturate-100">
    <div class="text-center py-5">
        <div class="uppercase text-xl">Services</div>
        <div class="flex justify-center w-full"><div class="bg-green-500 w-[80px] h-[2px] text-transparent"></div></div>
        <div class="text-gray-600 pt-5 lg:px-10">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo atque natus ad suscipit iure voluptate quas et adipisci ipsa. Impedit magnam optio itaque magni beatae eveniet similique libero ut a?</div>
    </div>
    <div class="rounded-lg p-2.5 flex flex-wrap bg-transparent">
        <div class="w-full md:w-1/2 lg:w-1/4 md:px-2.5 py-2">
            <div class="bg-white min-h-[30vh] w-full rounded-xl shadow-sm hover:shadow-lg border-t-gray-100 border-t-2 hover:-translate-y-2 transition-all ease-in-out duration-150 cursor-pointer"></div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 md:px-2 py-2">
            <div class="bg-white min-h-[30vh] w-full rounded-xl shadow-sm hover:shadow-lg border-t-gray-100 border-t-2 hover:-translate-y-2 transition-all ease-in-out duration-150 cursor-pointer"></div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 md:px-2 py-2">
            <div class="bg-white min-h-[30vh] w-full rounded-xl shadow-sm hover:shadow-lg border-t-gray-100 border-t-2 hover:-translate-y-2 transition-all ease-in-out duration-150 cursor-pointer"></div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 md:px-2 py-2">
            <div class="bg-white min-h-[30vh] w-full rounded-xl shadow-sm hover:shadow-lg border-t-gray-100 border-t-2 hover:-translate-y-2 transition-all ease-in-out duration-150 cursor-pointer"></div>
        </div>
        <!-- <div class="w-full md:w-1/2 lg:w-1/4 md:px-2 py-2">
            <div class="bg-white min-h-[30vh] w-full rounded-xl shadow-sm hover:shadow-lg border-t-gray-100 border-t-2 hover:-translate-y-2 transition-all ease-in-out duration-150 cursor-pointer"></div>
        </div> -->
    </div>
</div>