<div class="h-[20vh] w-full bg-[url('assets/images/banner.jpg')] bg-no-repeat bg-cover bg-center rounded-b-lg relative mb-2">
    <div
        class="backdrop-saturate-200 bg-black/10 hover:bg-black/20 h-full backdrop-brightness-90 cursor-pointer rounded-b-lg">
        fd
    </div>
    <div class="absolute -bottom-5 left-0 right-0 flex justify-center md:justify-between z-50">
        <div class="w-20 h-20 rounded-full bg-gray-50 dark:bg-gray-800">
            <div class="w-full h-full ring-2 ring-green-50 rounded-full p-1 bg-[url('assets/images/me.png')] bg-cover bg-no-repeat bg-top"></div>
        </div>
        <div class="w-20 h-20 rounded-full bg-gray-50 dark:bg-gray-800 hidden lg:block">
            <div class="w-full h-full ring-2 ring-green-50 rounded-full p-1"></div>
        </div>
    </div>
</div>